mixin code(source)
	- function processCode(text) {
	- 	let match = text.match(/^(\t)*/);
	- 	let minIndent = match? match.length : 0;
	-
	- 	for (const line of text.split('\n')) {
	- 		const indent = line.match(/^(\t)*/).length;
	- 		if (indent < minIndent) {
	- 			minIndent = indent;
	- 		}
	- 	}
	-
	- 	return text.replace(/^\s*|\s*$/g, '').replace(RegExp(`^\\t{${minIndent}}`, 'gm'), '');
	- }

	code
		each line in processCode(source).split('\n')
			div= line
