@-moz-keyframes splash {
  from {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}
@-webkit-keyframes splash {
  from {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}
@-o-keyframes splash {
  from {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}
@keyframes splash {
  from {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}
@-moz-keyframes dot-animation {
  0% {
    transform: translate(0, 0);
    background-color: #000;
  }
  10% {
    transform: translate(0, 100%);
    background-color: #ff674f;
  }
  20% {
    transform: translate(0, 0);
    background-color: #000;
  }
  30% {
    transform: translate(0, 100%);
    background-color: #e5e318;
  }
  40% {
    transform: translate(0, 0);
    background-color: #000;
  }
  50% {
    transform: translate(0, 100%);
    background-color: #a0dd18;
  }
  60% {
    transform: translate(0, 0);
    background-color: #000;
  }
  70% {
    transform: translate(0, 100%);
    background-color: #90d0ff;
  }
  80% {
    transform: translate(0, 0);
    background-color: #000;
  }
  90% {
    transform: translate(0, 100%);
    background-color: #b590ff;
  }
  100% {
    transform: translate(0, 0);
    background-color: #000;
  }
}
@-webkit-keyframes dot-animation {
  0% {
    transform: translate(0, 0);
    background-color: #000;
  }
  10% {
    transform: translate(0, 100%);
    background-color: #ff674f;
  }
  20% {
    transform: translate(0, 0);
    background-color: #000;
  }
  30% {
    transform: translate(0, 100%);
    background-color: #e5e318;
  }
  40% {
    transform: translate(0, 0);
    background-color: #000;
  }
  50% {
    transform: translate(0, 100%);
    background-color: #a0dd18;
  }
  60% {
    transform: translate(0, 0);
    background-color: #000;
  }
  70% {
    transform: translate(0, 100%);
    background-color: #90d0ff;
  }
  80% {
    transform: translate(0, 0);
    background-color: #000;
  }
  90% {
    transform: translate(0, 100%);
    background-color: #b590ff;
  }
  100% {
    transform: translate(0, 0);
    background-color: #000;
  }
}
@-o-keyframes dot-animation {
  0% {
    transform: translate(0, 0);
    background-color: #000;
  }
  10% {
    transform: translate(0, 100%);
    background-color: #ff674f;
  }
  20% {
    transform: translate(0, 0);
    background-color: #000;
  }
  30% {
    transform: translate(0, 100%);
    background-color: #e5e318;
  }
  40% {
    transform: translate(0, 0);
    background-color: #000;
  }
  50% {
    transform: translate(0, 100%);
    background-color: #a0dd18;
  }
  60% {
    transform: translate(0, 0);
    background-color: #000;
  }
  70% {
    transform: translate(0, 100%);
    background-color: #90d0ff;
  }
  80% {
    transform: translate(0, 0);
    background-color: #000;
  }
  90% {
    transform: translate(0, 100%);
    background-color: #b590ff;
  }
  100% {
    transform: translate(0, 0);
    background-color: #000;
  }
}
@keyframes dot-animation {
  0% {
    transform: translate(0, 0);
    background-color: #000;
  }
  10% {
    transform: translate(0, 100%);
    background-color: #ff674f;
  }
  20% {
    transform: translate(0, 0);
    background-color: #000;
  }
  30% {
    transform: translate(0, 100%);
    background-color: #e5e318;
  }
  40% {
    transform: translate(0, 0);
    background-color: #000;
  }
  50% {
    transform: translate(0, 100%);
    background-color: #a0dd18;
  }
  60% {
    transform: translate(0, 0);
    background-color: #000;
  }
  70% {
    transform: translate(0, 100%);
    background-color: #90d0ff;
  }
  80% {
    transform: translate(0, 0);
    background-color: #000;
  }
  90% {
    transform: translate(0, 100%);
    background-color: #b590ff;
  }
  100% {
    transform: translate(0, 0);
    background-color: #000;
  }
}
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}
html body header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 1em;
  margin-bottom: 1em;
}
html body header #logo {
  height: 2em;
}
html body header #tab-switcher {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
html body header #tab-switcher .tab {
  white-space: nowrap;
  text-align: center;
  user-select: none;
  padding: 0 1em;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  transition: box-shadow 0.1s ease-in;
}
html body header #tab-switcher .tab.selected {
  border: 1px solid #ddd;
  border-bottom: none;
  position: relative;
  border-radius: 5px 5px 0 0;
}
html body #dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}
html body #dashboard > div {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.333);
  display: block;
  margin: 0 2em 2em;
}
html body #dashboard #left-pane,
html body #dashboard #right-pane {
  flex: 1 0 0;
}
html body #dashboard #canvas-wrapper {
  width: max-content;
}
html body #dashboard #canvas-wrapper #view-container {
  position: relative;
}
html body #dashboard #canvas-wrapper #view-container div {
  position: absolute;
  transition: border-width 0.2s linear;
}
html body #dashboard #canvas-wrapper #view-container div.view {
  border: 1px solid #52dee2;
}
html body #dashboard #canvas-wrapper #view-container div.viewGroup {
  border: 1px solid #eab33f;
}
html body #dashboard #canvas-wrapper #view-container div:hover {
  border-width: 5px;
}
html body #dashboard #canvas-wrapper #builder-canvas {
  border: 1px dashed #ddd;
}
html body #dashboard #canvas-wrapper #mouse-coords {
  display: block;
  visibility: hidden;
}
html body div#splash {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.333);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  animation: splash 0.2s cubic-bezier(0, 0.3, 0.7, 1) backwards;
  transition: transform 0.2s cubic-bezier(0, 0.3, 0.7, 1), opacity 0.2s cubic-bezier(0, 0.3, 0.7, 1);
}
html body div#splash.invisible {
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}
html body div#splash img#splash-logo {
  max-height: 80vh;
}
html body div#splash div#splash-animation span.animation-dot {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  background-color: #000;
  border-radius: 50%;
  margin: 0.5em;
  animation: dot-animation 5s calc(var(--order) * 0.2s) infinite;
}
html body footer {
  padding: 1em 2em;
  background-color: #f0f0f0;
}
