extends ../../templates/tabbed
include ../../templates/mixins/toc


block nav
	include ../../templates/nav-tutorials


//- TODO: add basic info and links to reference and tutorials
block content
	+toc('Welcome')
		h1() Welcome to ardUI tutorials!
	p Use the panel on the left to choose the article you want to read
