extends ../../templates/tabbed


block nav
	include ../../templates/nav-tutorials


//- TODO: add basic info and links to reference and tutorials
block content
	h1(data-anchor='Welcome') Welcome to ardUI tutorials!
	p Use the panel on the left to choose the article you want to read
