extends ../../templates/tabbed
include ../../templates/mixins/toc


block nav
	include ../../templates/nav-tutorials


block tab-content
	+toc('Welcome')
		h1 Welcome to ardUI tutorials!
	p
		|  Here you will find short articles to help you get started with ardUI and understand the basic principles
		|  behind the framework and developing user interfaces in general. To get started, choose a tutorial on the
		|  left and start creating right away!
