--accent-color = #9AC1FF
--background-color = #f0f0f0


card()
	padding 1em
	border 1px solid #ddd
	border-radius 1em
	box-shadow 0 0 .5em #0003
	display block


glass(color = #fffb)
	background-color transparentify(color, #fff, .8)
	backdrop-filter blur(12px)
	border-bottom darken(color, 5%) 1px solid


html
	font-family sans-serif
	scroll-behavior smooth

	body
		margin 0
		display flex
		flex-flow column
		justify-content space-between
		min-height 100vh

		header
			glass(--accent-color)
			display flex
			flex-flow row nowrap
			justify-content flex-start
			align-content center
			padding 1em
			padding-bottom .5em
			margin-bottom 1em
			border-radius 0 0 12px 12px
			position sticky
			top 0

			#logo
				height 3em
				filter invert(1)

		main
			margin 1em 3em
			min-height 200vh  // TODO: remove

			#tab-layout
				display flex
				flex-flow row nowrap
				justify-content space-between
				align-content flex-start

				@media screen and (max-width 768px)
					flex-wrap wrap

				#nav-tab, #toc-tab
					card()
					flex 0 0 20%


				#content-tab
					flex-grow 1
					margin 0 2em

			.tip-title
				font-size 1.5em

			code
				display block
				background-color darken(white, 3%)
				border-radius 5px
				padding 1em
				counter-reset code-line

				div
					counter-increment code-line

					&:before
						content counter(code-line)
						display inline-block
						width 3.5ch
						border-right 1px solid darken(white, 20%)

				.empty
					height 1em

		footer
			padding 1em 2em
			background-color --background-color