html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: #020202;
}
html body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  line-height: 1.7;
  min-height: 100vh;
}
html body .img-10 {
  max-height: 10vh;
}
html body .img-20 {
  max-height: 20vh;
}
html body .img-30 {
  max-height: 30vh;
}
html body .img-40 {
  max-height: 40vh;
}
html body .img-50 {
  max-height: 50vh;
}
html body .img-60 {
  max-height: 60vh;
}
html body .img-70 {
  max-height: 70vh;
}
html body .img-80 {
  max-height: 80vh;
}
html body .img-90 {
  max-height: 90vh;
}
html body .img-100 {
  max-height: 100vh;
}
html body .hidden {
  visibility: hidden;
}
html body header {
  background-color: rgba(129,178,255,0.8);
  backdrop-filter: blur(12px);
  border-bottom: #86b4ff 1px solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  padding: 1em;
  padding-bottom: 0.5em;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 4rem;
}
html body header #logo {
  height: 3em;
  filter: invert(1);
}
html body main #tab-layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  html body main #tab-layout {
    min-height: 100vh;
    flex-wrap: wrap;
  }
}
html body main #tab-layout .tab {
  background-color: #f5f9ff;
  width: 100vw;
  padding: 1em 3ch;
}
@media screen and (min-width: 768px) {
  html body main #tab-layout .tab {
    height: 96vh;
  }
}
html body main #tab-layout .tab#nav-tab {
  border-right: 1px solid #cce0ff;
}
html body main #tab-layout .tab#toc-tab {
  border-left: 1px solid #cce0ff;
}
@media screen and (min-width: 768px) {
  html body main #tab-layout .tab {
    flex: 0 0 15%;
    position: sticky;
    top: 4rem;
  }
}
html body main #tab-layout .tab .tab-title {
  width: 100%;
  text-align: center;
}
html body main #tab-layout .tab a {
  display: block;
  color: #000;
}
html body main #tab-layout img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 5px 10px #f2f2f2;
}
html body main #tab-layout #content-tab {
  flex-grow: 1;
  max-width: 768px;
  padding: 0 2em;
  margin: 1em auto;
}
html body main .tip-title {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}
html body main code,
html body main pre {
  background-color: #f5f9ff;
  color: #002f7b;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.4;
  border-radius: 5px;
  padding: 1em;
  counter-reset: code-line;
}
html body main code .highlight.typename,
html body main pre .highlight.typename {
  color: #7c550b;
}
html body main code .highlight.function,
html body main pre .highlight.function {
  color: #448329;
}
html body main code .highlight.string,
html body main pre .highlight.string {
  color: #7e1e0e;
}
html body main code .highlight.macro,
html body main pre .highlight.macro {
  color: #500b94;
}
html body main code .highlight.template,
html body main pre .highlight.template {
  color: #8c8500;
}
html body main code .highlight.keyword,
html body main pre .highlight.keyword {
  color: #16886e;
}
html body main code .highlight.scope,
html body main pre .highlight.scope {
  color: #47566b;
}
html body main code .highlight.modifier,
html body main pre .highlight.modifier {
  color: #758155;
}
html body main code .highlight.number,
html body main pre .highlight.number {
  color: #81556c;
}
html body main code .highlight.comment,
html body main pre .highlight.comment {
  color: #858585;
}
html body main code div,
html body main pre div {
  counter-increment: code-line;
}
html body main code div:before,
html body main pre div:before {
  content: counter(code-line);
  display: inline-block;
  color: #004fcd;
  width: 3.2ch;
  margin-right: 1ch;
  border-right: 1px solid #9ac1ff;
}
html body main code {
  font-family: monospace;
  display: inline;
  padding: 0;
}
html body main .auto-reference {
  color: #002052;
  padding: 1px;
  border-radius: 1px;
}
html body main .auto-reference:hover {
  color: #004fcd;
}
html body main .anchor {
  transform: translateY(-10vh);
}
html body footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em 2em;
  border-top: 1px solid #cce0ff;
  background-color: #f5f9ff;
}
