block footer
	span Developed by #[a(href='https://github.com/MStefan99/ardUI/graphs/contributors') ardUI contributors]
	span Idea by #[a(href='https://mstefan99.com/') Mikhail Stefantsev]
	span Contribute to ardUI on #[a(href='https://github.com/MStefan99/ardUI') GitHub]!