a(href='/pages/tutorials/installation') Installation
a(href='/pages/tutorials/display_interface') Display interface
a(href='/pages/tutorials/quickstart') Quick start
a(href='/pages/tutorials/view_tree') View tree
