extends layout

block main
	div#tab-layout
		div#nav-tab
			h3 Navigation
			div#nav-container
				block nav
		div#content-tab
			block content
		div#toc-tab
			h3 Table of contents
			div#toc-container
