extends layout


block main
	div#tab-layout
		div#nav-tab.tab
			h3.tab-title Navigation
			div#nav-container
				block nav
		article#content-tab
			block content
		div#toc-tab.tab
			h3.tab-title On this page
			div#toc-container
			script(async src='/js/toc.js')
