doctype html
head
	meta(charset='UTF-8')
	block head
		title ardUI Builder
	link(rel='icon' href='./img/ardUI_logo.svg')
	link(rel='stylesheet' href='./style/stylify.css')
	link(rel='stylesheet' href='./style/style.css')

body
	div.mb-3
		header
			include header

		main
			block main

	footer
		include footer
