doctype html
head
	meta(charset='UTF-8')
	block head
		title ardUI Builder
	link(rel='stylesheet' href='./style/stylify.css')
	link(rel='stylesheet' href='./style/style.css')

body
	div
		header
			include header
		h1 ardUI Builder

		main
			block main

	footer
		include footer
