html {
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	margin: 0 20%;
}

#canvas_wrapper {
	padding: 1em;
	border: 1px solid #bbb;
	border-radius: 1em;
	box-shadow: 0 0 .75em #0005;
	width: max-content;
}

#builder_canvas {
	border: 1px dashed #ddd;
}

#mouse-input {
	display: none;
}
