extends layout


block head
	title Welcome to ardUI!


block main
	h1 Welcome to ardUI!
	h3 What is ardUI?
	p ardUI is a simple yet powerful framework that allows you to quickly build complex,
		|  interactive and beautiful interfaces for all your projects.
