doctype html

html(lang='en')
	head
		meta(charset='UTF-8')
		block head
			title ardUI Documentation
		link(rel='icon' href='./img/ardUI_logo.svg')
		link(rel='stylesheet' href='./style/stylify.css')
		link(rel='stylesheet' href='./style/style.css')

	body
		div.mb-3
			header
				include header
				block header

			main
				block main

		block body

		footer
			include footer